In [8]:
import os
import pandas as pd
import nltk
from nltk.stem.snowball import DanishStemmer
nltk.download('punkt_tab', quiet=True)

stemmer = DanishStemmer()

In [9]:
AFINN_file = r"C:\Users\Bruger\Desktop\Uni\1. semester\Introduction to Intelligent Systems\Projektuge\AFINN-da-32.txt"

# åbne filen som dataframe
dataframe = pd.read_csv(AFINN_file,sep='\t',header=None)

# kolonnenavne
dataframe.columns = ["word","score"]
display(dataframe)

             word  score
0      absorberet      1
1       acceptere      1
2     accepterede      1
3      accepterer      1
4      accepteres      1
...           ...    ...
3547      åndrige      2
3548      åndrigt      2
3549      årvågen      3
3550     årvågent      3
3551      årvågne      3

[3552 rows x 2 columns]

In [10]:
dataframe["stemmed word"] = [stemmer.stem(word) for word in dataframe["word"]]
dataframe

             word  score stemmed word
0      absorberet      1       absorb
1       acceptere      1       accept
2     accepterede      1       accept
3      accepterer      1       accept
4      accepteres      1       accept
...           ...    ...          ...
3547      åndrige      2         åndr
3548      åndrigt      2         åndr
3549      årvågen      3        årvåg
3550     årvågent      3     årvågent
3551      årvågne      3       årvågn

[3552 rows x 3 columns]

Afinn-lexicon er generelt mere negativ:

In [11]:
display(dataframe.describe())

             score
count  3552.000000
mean     -0.619088
std       2.121461
min      -5.000000
25%      -2.000000
50%      -2.000000
75%       2.000000
max       5.000000

In [12]:
sum(dataframe["score"] == -5)

9

In [13]:
sum(dataframe["score"] == 5)

4